// header de toutes les pages
// faux !! à refaire car pas précis
header {
    width: 100%;
    margin: 0 auto; 
    background: rgb(241, 235, 235);
.nav-wrapper {
   
    width: 70%;
    height: 200px;
    margin: 0 auto;
    display: flex;
   justify-content: center;
    flex-direction: column-reverse;
    .wrap-logo {
        width: 100%;
        margin: 0 auto;
        
       
    }
}
}

