// about-section

section {
    background: rgb(241, 235, 235);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrapper-top {
        width: 70%;
        display: flex;
        justify-content:space-between;
        align-items: center; 
        margin-bottom: 50px;
        .wrap-title {
            width: 100%;
            display: flex;
            align-self: flex-start;
            flex-direction: column;
            h1 {
                margin-top: 0;
                font-size: 80px;
                color: #fb5353;
            }
            h2 {
                margin-top: 0;
                font-size: 40px;
                font-weight: 700;
            }
            p {
                font-size: 20px;
            }
        

            
        }
        .wrap-txt {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
        .txt-flex {
            padding: 25px;
            line-height: 35px;
            color: white;
            width: 80%;
            height: 100%;
           background: rgb(253, 86, 86);
        }
        }
    }
    // wrapper bottom
    // wrapper img + txt !!!

    .wrapper-bottom {
       
        width: 70%;
        display: flex;
        justify-content:center;
        align-items: center; 
        margin-bottom: 50px;
        gap: 45px;
            .wrap-img {
                position: relative; 
                overflow: hidden;
                width: 30%;
                img {
                    width: 100%;
                    transition: .3s all ease-in-out;
                }
            }
                .txt-abs {
                    text-align: center;
                    width: 50%;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%,100%);
                    background: #fd5656;
                    color: white;
                    height: 30%;
                    opacity: 0;
                    transition: .5s all ease-in-out;
                    
                }
            
     }
    
}

//  hover

.wrap-img:hover .txt-abs{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    transition: .6s all ease-in-out; 
    z-index: 10;
    
}

.wrap-img:hover::before {
    content:'';
    background: rgba(166, 13, 13, 0.366);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 10;
    transition: .3s all ease-in-out;
}

.wrap-img:hover img {
    overflow: hidden;
    transform: scale(1.15);
    transition: .3s all ease-in-out; 
}


// ------------------------------------- blog page

.wrapper-blog {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
        .wrapper-column1 {
            width: 50%;
            display: flex;
            flex-direction: column;
            h1 {
                margin-top: 0;
                font-size: 80px;
                color: #fb5353;
            }
            h2 {
                margin-top: 0;
                font-size: 40px;
                font-weight: 700;
            }
            p {
                font-size: 20px;
            }

        }
        .wrap-article {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .date-img {
                width: 70%;
                position: relative;
                .date-article {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: absolute;
                    padding: 40px;
                    background: #fb5353;
                    color: white;
                    z-index: 10;
                    .day {
                        font-size: 45px;
                        font-weight: 700;
                    }
                    .month {
                        font-size: 20px;
                    }
                }
                img{
                    width: 100%;
                    transition: .3s all ease-in-out;
                }
            } 
           
            .txt-article {
                width: 70%;
                display: flex;
                justify-content:center;
                align-items: center;
                font-weight: 700;
                font-size: 20px;
                padding: 35px;
                transition: .3s all ease-in-out;
                .box-txt {
                    width: 70%;
                }
            }
        }
    }



.wrap-all:hover .txt-article{
    background: #fb5353;
    transition: .3s all ease-in-out;
    color: white;
}

.wrap-all:hover img{
    opacity: 0.5;
    transition: .3s all ease-in-out;
}

.wrap-all:hover .date-article {
    z-index: 10;
   
}









